# Environnement virtuel
venv/
env/

# Fichiers Python compilés
*.pyc
pycache/

# Base de données SQLite
db.sqlite3

# Fichiers de configuration locaux
.env

# Fichiers générés par l’IDE
.vscode/


# Cache de pip
pip-log.txt
pip-delete-this-directory.txt

# Logs
*.log

# MacOS / Linux
.DS_Store
Thumbs.db

# Fichiers test de coverage
htmlcov/
.coverage
coverage.xml

