<header class="site-header">
    <div class="container">
        <div class="logo">
            <a href="/">PipouBlog</a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/">Accueil</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/blog/create/">Nouvel Article</a></li>
                    <li><a href="/authentication/profile/">Profil</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Déconnexion</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'login' %}">Connexion</a></li>
                    {% comment %} <li><a href="{% url 'register' %}">Inscription</a></li> {% endcomment %}
                {% endif %}
            </ul>
        </nav>
    </div>
</header>