<header class="site-header">
  <div class="container">
    <div class="logo">
      <a href="/">PipouBlog</a>
    </div>

    <!-- Menu Burger Icon -->
    <div class="burger-menu">
      <div class="burger-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <!-- Navigation -->
      <nav class="main-nav">
        <ul>
          <li><a href="/">Accueil</a></li>
          {% if user.is_authenticated %}
          <li><a href="/blog/create/">Nouvel Article</a></li>
          <li><a href="/authentication/profile/">Profil</a></li>
          {% if user.is_authenticated %}
          <li>
            <form
              action="{% url 'logout' %}"
              method="post"
              style="display: flex; align-items: center"
            >
              {% csrf_token %}
              <button
                type="submit"
                class="logout-btn"
                style="
                  background: none;
                  border: none;
                  padding: 10px 15px;
                  color: #fff;
                  font: inherit;
                  font-family: serif;
                  cursor: pointer;
                "
              >
                Déconnexion
              </button>
            </form>
          </li>
          {% endif %} {% else %}
          <li><a href="{% url 'login' %}">Connexion</a></li>
          {% comment %}
          <li><a href="{% url 'register' %}">Inscription</a></li>
          {% endcomment %} {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
