[run]
omit = 
    */migrations/*
    */tests.py
    manage.py
    */settings.py
    */test_settings.py
    */asgi.py
    */wsgi.py

[report]
show_missing = True
omit = 
    */migrations/*
    */tests.py
    manage.py
    */settings.py
    */test_settings.py
    */asgi.py
    */wsgi.py