{% extends 'base.html' %}

{% block content %}

    <section class="connexion-container">
        <h1>Se connecter</h1>
        {% if form.non_field_errors %}
            <div class="error non-field-errors">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
            </div>
        {% endif %}
        <form method="POST" class="connexion-form">
            {% csrf_token %}
            <div class="connexion_input">
                {{ form.email.label}} {{ form.email }}
                {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div class="connexion_input">
                {{ form.password.label }} {{ form.password }}
                {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
                {% endif %}
            </div>
            <input type="submit" value="Se Connecter" class="submit_btn" />
        </form>

        <p>Pas encore de compte ? <a class="link" href="{% url 'register' %}">S'inscrire</a></p>
    </section>


{% endblock %}
